# =========================
# Supabase
# =========================

SUPABASE_URL=https://bcunytrpoodnvlktxrxj.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_wsZ14LFmFgTA0Ok9VEd3nA_vUEK4wIq

VITE_SUPABASE_URL=https://bcunytrpoodnvlktxrxj.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_wsZ14LFmFgTA0Ok9VEd3nA_vUEK4wIq

# Server only

SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJjdW55dHJwb29kbnZsa3R4cnhqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mjg2ODE4NywiZXhwIjoyMDk4NDQ0MTg3fQ.HTvj-x1VwZwu_TSZmLXFhrHoh7dW2aYpxqgBULKnqxM

# =========================
# Brevo SMTP
# =========================

SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=b21115001@smtp-brevo.com
SMTP_PASS=xsmtpsib-86b2f0c9fd8dc82d3a784738a4823b3df4add053595b00bf71c7ba9c04c2f25d-PLvamMTrRFlBKE4Y

SMTP_FROM_NAME=Taripon
SMTP_FROM_EMAIL=tariponsavings@gmail.com

NODE_ENV=development
